* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.flex-contener {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  background-color: #293f50;
  justify-content: space-between;
}
.logo-div {
  /* background-color: black; */
  width: 380px;
  margin-left: 70px;
  height: 20vh;
}
.logo-link {
  text-decoration: none;
  color: aliceblue;
  font-family: lato, sans-serif;
  font-size: 48px;
  text-transform: uppercase;
}
.logo-link:hover {
  color: aquamarine;
}

.upper-bar {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  font-family: Lato, sans-serif;
}
.heading-3 {
  color: rgba(209, 164, 164, 0.692);
  margin-left: 95px;
}
.list-bar > ul > li {
  display: inline;
  margin-right: 30px;
  text-transform: uppercase;
}
ul > li > a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
ul > li > a:hover {
  color: aquamarine;
}
.list-bar {
  margin-top: 20px;
}
.second-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 50vh;
  background-color: #293f50;
  font-family: lato, sans-serif;
  padding: 30px 0 30px 0;
}
.register {
  margin-top: 15px;
  height: 60px;
  width: 170px;
  align-self: center;
  background-color: #293f50;
  border: white solid 1px;
  color: white;
  border-radius: 10px;
}
.register:hover {
  background-color: white;
  color: #293f50;
}
.second-heading {
  font-family: lato, sans-serif;
  color: rgb(84, 139, 139);
  text-align: center;
  font-size: 36px;
  padding: 10px;
}
.information {
  font-family: lato, sans-serif;
  color: rgb(241, 245, 245);
  text-align: center;
  font-size: 25px;
  margin: 10px 50px 20px 50px;
}
.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  /* background-color: rgb(182, 182, 24); */
}
.first-div,
.second-div,
.third-div {
  display: flex;
  /* background-color: aliceblue; */
  height: 430px;
  width: 350px;
  justify-content: space-evenly;
  flex-direction: column;
  font-family: lato, sans-serif;
}
.heading-one,
.heading-two,
.heading-three {
  /* margin-bottom: 5px; */
  font-size: 15px;
  font-weight: bold;
  color: rgb(104, 104, 85);
}
.img-1,
.img-2,
.img-3 {
  border-radius: 10px;
  height: 50%;
  width: 80%;
}
.img-1:hover,
.img-2:hover,
.img-3:hover {
  /* border: 1px solid black; */
  height: 60%;
  width: 85%;
  box-shadow: 10px 5px 5px rgb(102, 82, 82);
}

.link-1,
.link-2,
.link-3 {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #293f50;
}
.para-1 {
  padding-right: 25px;
}
.para-2 {
  padding-right: 70px;
}
.para-3 {
  padding-right: 25px;
}
.foot {
  width: 100%;
  height: 30vh;
  background-color: #293f50;
  display: flex;
  align-items: center;
}
.footer-list > li > a {
  text-decoration: none;
  font-weight: 200;
  color: rgb(179, 179, 120);
  font-weight: lighter;
}
.footer-list > li {
  display: inline;
  margin-right: 20px;
  text-transform: uppercase;
}
.footer-list {
  margin-left: 80vh;
}
.footer-trade {
  margin-left: 30vh;
}
@media (max-width: 650px) {
  .flex-contener {
    display: flex;
    flex-wrap: wrap;
  }
  .second-header {
    display: flex;
    flex-direction: column;
  }
}
